# Python
__pycache__/
*.py[cod]
*.so
.env

# Yosys/JSON artifacts
*.json
!dummy_env/*.json
!tests/case_suite/**/*.json

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Logs
*.log

# local build
build/
out/
